@{
  Layout = "_Layout";
}

@model Library.Models.Room

<h2>Edit</h2>

<h4>Edit this room: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RoomId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" class="button" value="Save" />
}
<p class="button">@Html.ActionLink("Back to Room", "Index", new { id = Model.RoomId })</p>