@{
  Layout = "_Layout";
}

@using Library.Models;
<div id="@(ViewBag.PrevRoomId)" class="getRoomId"></div>
<h1>Rooms</h1>
<i class="fa fa-gear fa-spin" id="edit-room" style="font-size:24px"></i>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav" id="rooms-nav">
    @foreach(Room room in Model)
    {
      @Html.ActionLink(@room.Name, null, null, new {id = room.RoomId}, new {@class=(room.RoomId == ViewBag.room.RoomId ? "nav-item nav-link active" : "nav-item nav-link")})
    }
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addRoom">+</button>
  </div>
</nav>
@Html.Partial("AddRoom.cshtml")
<div id="rooms">
  <div id="room-@(ViewBag.room.RoomId)" class="room shelves-@ViewBag.room.Shelves.Count ">
    @foreach (var shelf in @ViewBag.room.Shelves)
    {
      @* <div class="shelf-box"> *@
        <div id="shelf-@(shelf.ShelfId)" class="shelf draggable" style="touch-action: none; left: @(shelf.Left); top: @(shelf.Top);">
          <div class="books select-book">
            @foreach (var book in shelf.Books)
            {
              <div style="background-image: url('https://books.google.com/books/content?id=@(book.ImgID)&printsec=frontcover&img=1&zoom=5');" class="book" id="book-@(book.BookId)">
              </div>
            }
          </div>
          <button type="button" class="delete-shelf">✕</button>
          <button type="button" class="btn btn-light add-books-to-room" data-bs-toggle="modal" data-bs-target="#addBookToRoom">+</button>
          @Html.Partial("AddBook.cshtml", new ViewDataDictionary(ViewData){{ "shelfId", shelf.ShelfId }, {"roomId", ViewBag.room.RoomId}})
    
          @Html.Partial("BookDetails.cshtml")
        </div>
      @* </div> *@
    }
    <div class="scale"><span class="btn btn-light" id="plus">+</span><span class="btn btn-light" id="minus">-</span></div>
  </div>

    @using (Html.BeginForm("Create", "Shelves", new { id = ViewBag.room.RoomId},FormMethod.Post ))
    {
      <button type="submit" class="btn btn-light">Add Shelf</button>
    }
    @using (Html.BeginForm("Delete", "Rooms", new { id = ViewBag.room.RoomId},FormMethod.Post ))
    {
      <button type="submit" class="btn btn-light">Delete Room</button>
    }
</div>

