@{
  Layout = "_Layout";
}

@using Library.Models;
<div id="@(ViewBag.PrevRoomId)" class="getRoomId"></div>
<h1>Rooms</h1>
<i class="fa fa-gear fa-spin" id="edit-room" style="font-size:24px"></i>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav" id="rooms-nav">
    @foreach(Room room in Model)
    {
      @Html.ActionLink(@room.Name, null, null, new {id = room.RoomId}, new {@class=(room.RoomId == ViewBag.room.RoomId ? "nav-item nav-link active" : "nav-item nav-link")})
    }
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addRoom">+</button>
  </div>
</nav>
@Html.Partial("AddRoom.cshtml")
<div id="rooms">
  <div id="room-@(ViewBag.room.RoomId)" class="room shelves-@ViewBag.room.Shelves.Count ">
    @foreach (var shelf in @ViewBag.room.Shelves)
    {
      int counter = 1;
      @* <div class="shelf-box"> *@
        <div id="shelf-@(shelf.ShelfId)" class="shelf draggable">
          <div class="books">
            @foreach (var book in shelf.Books)
            {
              <img src="~/img/books/@(counter).png" width="15px" id="book-@(book.BookId)" data-bs-toggle="modal" data-bs-target="#bookDetails">
              if (counter == 8) {
                counter = 1;
              } else {
                counter ++;
              }
            }
          </div>
          <button type="button" class="btn btn-light delete-shelf">x</button>
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addBookToRoom" id="add-books-to-room">+</button>
          @Html.Partial("AddBook.cshtml", new ViewDataDictionary(ViewData){{ "shelfId", shelf.ShelfId }, {"roomId", ViewBag.room.RoomId}})
    
          @Html.Partial("BookDetails.cshtml")
        </div>
      @* </div> *@
    }
  </div>

    @using (Html.BeginForm("Create", "Shelves", new { id = ViewBag.room.RoomId},FormMethod.Post ))
    {
      <button type="submit" class="btn btn-light">Add Shelf</button>
    }
    @using (Html.BeginForm("Delete", "Rooms", new { id = ViewBag.room.RoomId},FormMethod.Post ))
    {
      <button type="submit" class="btn btn-light">Delete Room</button>
    }
</div>

