@{
  Layout = "_Layout";
}

@using Library.Models;
<div id="@(ViewBag.PrevRoomId)" class="getRoomId"></div>
<h1>Rooms</h1>
<i class="fa fa-gear fa-spin" id="edit-room" style="font-size:24px"></i>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav" id="rooms-nav">
    @foreach(Room room in Model)
    {
      <div class="nav-item ">
        @Html.ActionLink(@room.Name, null, null, new {id = room.RoomId}, new {@class=(room.RoomId == ViewBag.room.RoomId ? "nav-link active" : "nav-item nav-link")})
        @using (Html.BeginForm("Delete", "Rooms", new { id = room.RoomId},FormMethod.Post ))
        {
          <button type="submit" class="delete-room btn-light">✕</button>
        }
      </div>
    }
    <button type="button" class="btn btn-light add-room @(Model.Count == 0 ? "show" : "")" data-bs-toggle="modal" data-bs-target="#addRoom">+</button>
  </div>
  <div id="open-filter">
    <div id="clear">Clear</div>
    <i class="fa fa-search"></i>
  </div>
</nav>
@Html.Partial("AddRoom.cshtml")
@if (Model.Count != 0) {
  <div class="rooms">
    <div id="filter">
      <form class="advanced-search-inputs">
        <div class="form-floating">
          <input class="form-control" type="text" id="title" placeholder="Title">
          <label>Title</label>
        </div>
        <div class="form-floating">
          <input class="form-control" type="text" id="authors" placeholder="Authors">
          <label>Authors</label>
        </div>
        <div class="form-floating">
          <input class="form-control" type="text" id="publisher" placeholder="Publisher"> 
          <label>Publisher</label>
        </div>
        <div class="form-floating">
          <input class="form-control" type="number" id="isbn" placeholder="ISBN"> 
          <label>ISBN</label>
        </div>
        <div class="form-floating">
          <select class="form-select" id="status">
            <option value="">None</option>
            <option value="Not Started">Not Started</option>
            <option value="In Progress">In Progress</option>
            <option value="Finished">Finished</option>
          </select>
          <label>Status</label>
        </div>
        <button class="input-group-text" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <img class="room-background" src="~/img/background/@ViewBag.room.Background">
    <div class="room-overlay">
      <div id="room-@(ViewBag.room.RoomId)" class="room" style="transform: scale(@ViewBag.room.Scale);">
        @foreach (var shelf in @ViewBag.room.Shelves)
        {
          <div id="shelf-@(shelf.ShelfId)" class="shelf draggable" style="touch-action: none; left: @(shelf.Left); top: @(shelf.Top);">
            <div class="books select-book">
              @foreach (var book in shelf.Books)
              {
                <div style="background-image: url('https://books.google.com/books/content?id=@(book.ImgID)&printsec=frontcover&img=1&zoom=1');" class="book" id="book-@(book.BookId)">
                </div>
              }
            </div>
            <button type="button" class="delete-shelf btn-light">✕</button>
            <div class="books-overlay hidden">
              <button type="button" class="btn btn-light add-books-to-room" data-bs-toggle="modal" data-bs-target="#addBookToRoom">+</button>
            </div>
            <input type="hidden" name="shelf" value="@(shelf.ShelfId)">
            <input type="hidden" name="room" value="@(ViewBag.room.RoomId)">
          </div>
        }
      </div>
    </div>
    <button type="button" class="btn btn-light add-shelf">+</button>
    <button type="button" class="btn btn-light change-background" data-bs-toggle="modal" data-bs-target="#addBackground"><i class="fa fa-upload" aria-hidden="true"></i></button>
    <div class="hidden scale">
      <span class="btn btn-light" id="plus">+</span>
      <span class="btn btn-light" id="minus">-</span>
    </div>
  </div>
  @Html.Partial("AddBook.cshtml")
  @Html.Partial("AddBackground.cshtml", new Library.ViewModels.BackgroundViewModel())
  @Html.Partial("BookDetails.cshtml")
}