@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h4>Add a new book</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title, new {required = "required" })

  @Html.LabelFor(model => model.Shelf)
  @Html.DropDownList("ShelfId")

  @Html.LabelFor(model => model.Room)
  @Html.DropDownList("RoomId")

  <button type="submit" class="btn btn-light">Add book</button>
}
@* @Html.ActionLink("Back to Shelf", "Details", "Shelves", new { id = @ViewBag.ShelfId}, new { @class="btn btn-light" }) *@