@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Book Details</h2>
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)<h3>
<h3>@Html.DisplayNameFor(model => model.Shelf): @Html.DisplayFor(model => model.Shelf.Name)<h3></h3>

<hr />

<div class="button-group">
  @Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId, @class="btn btn-light" })
  @Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId, @class="btn btn-light" })
</div>
@Html.ActionLink("Back to Shelf", "Details", "Shelves", new { id = Model.Shelf.ShelfId, @class="btn btn-light" })