@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Edit</h2>

<h4>Edit this book: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  @Html.LabelFor(model => model.ShelfId)
  @Html.DropDownList("ShelfId")

  <button type="submit" class="btn btn-light">Save</button>
}

@Html.ActionLink("Back to Book", "Details", new { id = Model.BookId, @class="btn btn-light" })