@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Book>;
<div class="container main">
  <div class="bar">
    <button type="button" class="btn btn-light" data-bs-toggle="modal" id="start-search" data-bs-target="#addBookFromApi"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <span class="page-link" id="books-page-prev"><i class="fa fa-caret-left"></i></a>
        </li>
        <li class="page-item @(ViewBag.Count <= 8 ? "disabled" : "")">
          <span class="page-link" id="books-page-next"><i class="fa fa-caret-right"></i></a>
        </li>
      </ul>
    </nav>
    <button type="button" class="btn btn-light" id="edit-books"><i class="fa fa-gear fa-spin"></i></button>
  </div>
  <div class="row books-row" id="books-page">
    @foreach (Book book in Model)
    {
      <div class="card show-book-details" id="book-@(book.BookId)" data-bs-toggle="modal" data-bs-target="#bookDetails">
        <button type="submit" class="btn btn-light delete-book corner-icon"><span class="fa fa-close"></span></button>
        <img class="card-img-top" src="https://books.google.com/books/content?id=@(book.ImgID)&printsec=frontcover&img=1&zoom=1" alt="Book thumbnail" height="240px" object-fit="contain">
        <div class="card-body">
          <h5 class="card-title cut-text">@book.Title</h5>
          <p class="card-text cut-text">@book.Authors</p>
        </div>
      </div>
    }
  </div>
  @Html.Partial("AddBook.cshtml", new Book())
  @Html.Partial("BookDetails.cshtml", new Book())
</div>