<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <div class="navbar-nav" id="main-nav">
          @Html.ActionLink("Home", "Index", "Home", null, new {@class="nav-item nav-link"})
          @Html.ActionLink("Rooms", "Index", "Rooms", null, new {@class="nav-item nav-link", id="rooms-nav"})
          @Html.ActionLink("Books", "Index", "Books", null, new {@class="nav-item nav-link", id="books-index"})
        </div>
        <div class="navbar-nav">
          @if (User.Identity.Name != null)  
        {
            <a href="@Url.Action("Index", "Account")" title="Account" id="user-name" class="nav-link nav-item">Hello, @(User.FindFirst(System.Security.Claims.ClaimTypes.GivenName)?.Value)!</a>
          }
          else
          {
            <a href="@Url.Action("Index", "Account")" title="Account" id="account-icon" class="nav-link">
              <img alt="Account" src="@Url.Content("~/img/account.png")" width="30px"> 
            </a>
          }
        </div>
        
      </div>
    </div>
  </nav>
</header>
